body {
  background-color: whitesmoke;
  overflow: hidden;
  font-family: 'M PLUS Rounded 1c', '游ゴシック体', YuGothic, '游ゴシック', 'Yu Gothic', 'メイリオ',
    Meiryo, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', 'MS PGothic',
    sans-serif;
}

a {
  color: #f60 !important;
}

::selection {
  color: whitesmoke;
  background: #f60;
}

/* text color #787878 */
